data/data_7/.flows.json.backup
[
    {
        "id": "d18ec27cc7801808",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2cfe02c8a5de0e52",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://172.21.1.1:4840",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "01f7071208e03865",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6c49b72f875ab57e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9a69aad3b9b1b205",
        "type": "ui_group",
        "name": "Default",
        "tab": "01f7071208e03865",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63d485bbdd94736d",
        "type": "inject",
        "z": "d18ec27cc7801808",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "e5627baf7e7573a8",
                "2773dc4fd3de62c1"
            ]
        ]
    },
    {
        "id": "e5627baf7e7573a8",
        "type": "OpcUa-Item",
        "z": "d18ec27cc7801808",
        "item": "ns=3;s=\"xBG5\"",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "5cc5c6344cdfd50e"
            ]
        ]
    },
    {
        "id": "5cc5c6344cdfd50e",
        "type": "OpcUa-Client",
        "z": "d18ec27cc7801808",
        "endpoint": "2cfe02c8a5de0e52",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 540,
        "y": 120,
        "wires": [
            [
                "f6f1b930837cec89",
                "95d89ad3b939d997"
            ]
        ]
    },
    {
        "id": "f6f1b930837cec89",
        "type": "debug",
        "z": "d18ec27cc7801808",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "95d89ad3b939d997",
        "type": "ui_led",
        "z": "d18ec27cc7801808",
        "order": 0,
        "group": "9a69aad3b9b1b205",
        "width": 0,
        "height": 0,
        "label": "xBG5",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "2773dc4fd3de62c1",
        "type": "OpcUa-Item",
        "z": "d18ec27cc7801808",
        "item": "ns=3;s=\"xBG6\"",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "c2365b4d1327d200"
            ]
        ]
    },
    {
        "id": "c2365b4d1327d200",
        "type": "OpcUa-Client",
        "z": "d18ec27cc7801808",
        "endpoint": "2cfe02c8a5de0e52",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "1676a3f73664649e",
                "b75adeeac25cd5e3"
            ]
        ]
    },
    {
        "id": "1676a3f73664649e",
        "type": "debug",
        "z": "d18ec27cc7801808",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "b75adeeac25cd5e3",
        "type": "ui_led",
        "z": "d18ec27cc7801808",
        "order": 0,
        "group": "9a69aad3b9b1b205",
        "width": 0,
        "height": 0,
        "label": "xBG6",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "4f04fcf80745bd83",
        "type": "ui_gauge",
        "z": "d18ec27cc7801808",
        "name": "",
        "group": "9a69aad3b9b1b205",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "19e1f4b8c77bbdc8",
        "type": "inject",
        "z": "d18ec27cc7801808",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "e4e31d0e0cf90291"
            ]
        ]
    },
    {
        "id": "e4e31d0e0cf90291",
        "type": "function",
        "z": "d18ec27cc7801808",
        "name": "",
        "func": "msg.payload = 5\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "4f04fcf80745bd83"
            ]
        ]
    }
]