data/data_1/.flows.json.backup
[
    {
        "id": "db075431cccd62c9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f2d1dd8f348a82e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "47b492627b0276be",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a560fb7d01100dfc",
        "type": "ui_group",
        "name": "Default",
        "tab": "5f2d1dd8f348a82e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef35154e93aa2881",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://172.21.1.1:4840",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "02cca262d2dabbf7",
        "type": "OpcUa-Item",
        "z": "db075431cccd62c9",
        "item": "ns=3;s=\"xBG5\"",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "fc013f0dc352ee9a"
            ]
        ]
    },
    {
        "id": "fc013f0dc352ee9a",
        "type": "OpcUa-Client",
        "z": "db075431cccd62c9",
        "endpoint": "ef35154e93aa2881",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 500,
        "y": 140,
        "wires": [
            [
                "eb2d01b14f72a0ec",
                "7bcd215b7711bdea"
            ]
        ]
    },
    {
        "id": "50dcdaca0721ab65",
        "type": "inject",
        "z": "db075431cccd62c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "02cca262d2dabbf7",
                "160a6d1ad32eaa80"
            ]
        ]
    },
    {
        "id": "eb2d01b14f72a0ec",
        "type": "debug",
        "z": "db075431cccd62c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "7bcd215b7711bdea",
        "type": "ui_led",
        "z": "db075431cccd62c9",
        "order": 0,
        "group": "a560fb7d01100dfc",
        "width": 0,
        "height": 0,
        "label": "XBG5",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "160a6d1ad32eaa80",
        "type": "OpcUa-Item",
        "z": "db075431cccd62c9",
        "item": "ns=3;s=\"xBG6\"",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "05472fe64d90dcc7"
            ]
        ]
    },
    {
        "id": "05472fe64d90dcc7",
        "type": "OpcUa-Client",
        "z": "db075431cccd62c9",
        "endpoint": "ef35154e93aa2881",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "116e18a2eabe0ccd",
                "bbf60f2136435882"
            ]
        ]
    },
    {
        "id": "116e18a2eabe0ccd",
        "type": "debug",
        "z": "db075431cccd62c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "bbf60f2136435882",
        "type": "ui_led",
        "z": "db075431cccd62c9",
        "order": 0,
        "group": "a560fb7d01100dfc",
        "width": 0,
        "height": 0,
        "label": "XBG6",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "f17f5f71e2cb7420",
        "type": "OpcUa-Item",
        "z": "db075431cccd62c9",
        "item": "ns=3;s=\"xMB1\"",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "a4d7ea7a2e07ecad"
            ]
        ]
    },
    {
        "id": "a4d7ea7a2e07ecad",
        "type": "OpcUa-Client",
        "z": "db075431cccd62c9",
        "endpoint": "ef35154e93aa2881",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 460,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8f824194b404c2ab",
        "type": "ui_switch",
        "z": "db075431cccd62c9",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a560fb7d01100dfc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 440,
        "wires": [
            [
                "f17f5f71e2cb7420"
            ]
        ]
    },
    {
        "id": "d51ef0b69c5243cb",
        "type": "OpcUa-Item",
        "z": "db075431cccd62c9",
        "item": "ns=3;s=\"xQA1_A1\"",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 380,
        "y": 540,
        "wires": [
            [
                "047f139ae3e9bc0c"
            ]
        ]
    },
    {
        "id": "047f139ae3e9bc0c",
        "type": "OpcUa-Client",
        "z": "db075431cccd62c9",
        "endpoint": "ef35154e93aa2881",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 640,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "6fca2bd67e39f08c",
        "type": "ui_switch",
        "z": "db075431cccd62c9",
        "name": "",
        "label": "Belt",
        "tooltip": "",
        "group": "a560fb7d01100dfc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "d51ef0b69c5243cb"
            ]
        ]
    }
]