data/data_9/.flows.json.backup
[
    {
        "id": "e20ad5c60bb02166",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "24561b7df29eadbf",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://172.21.1.1:4840",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "1dd6189a881df888",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "886b43cb0dd9c9a9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f2d3fc6914dff4ab",
        "type": "ui_group",
        "name": "Default",
        "tab": "1dd6189a881df888",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6058b846d86e09e3",
        "type": "inject",
        "z": "e20ad5c60bb02166",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "da1a332584610bd1",
                "1066c047ec941171"
            ]
        ]
    },
    {
        "id": "da1a332584610bd1",
        "type": "OpcUa-Item",
        "z": "e20ad5c60bb02166",
        "item": "ns=3;s=\"xBG5\"",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "d4231f0c05d0fe2e"
            ]
        ]
    },
    {
        "id": "d4231f0c05d0fe2e",
        "type": "OpcUa-Client",
        "z": "e20ad5c60bb02166",
        "endpoint": "24561b7df29eadbf",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "11d4aac7c39fe47d",
                "3ce4b1c7604f9386"
            ]
        ]
    },
    {
        "id": "11d4aac7c39fe47d",
        "type": "debug",
        "z": "e20ad5c60bb02166",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "3ce4b1c7604f9386",
        "type": "ui_led",
        "z": "e20ad5c60bb02166",
        "order": 0,
        "group": "f2d3fc6914dff4ab",
        "width": 0,
        "height": 0,
        "label": "start xBG5",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008015",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 850,
        "y": 320,
        "wires": []
    },
    {
        "id": "1066c047ec941171",
        "type": "OpcUa-Item",
        "z": "e20ad5c60bb02166",
        "item": "ns=3;s=\"xBG6\"",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "23a91c1419fbbb32"
            ]
        ]
    },
    {
        "id": "23a91c1419fbbb32",
        "type": "OpcUa-Client",
        "z": "e20ad5c60bb02166",
        "endpoint": "24561b7df29eadbf",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 640,
        "y": 400,
        "wires": [
            [
                "4ff50100c462d733",
                "fd67e3ed337be6be"
            ]
        ]
    },
    {
        "id": "4ff50100c462d733",
        "type": "debug",
        "z": "e20ad5c60bb02166",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "fd67e3ed337be6be",
        "type": "ui_led",
        "z": "e20ad5c60bb02166",
        "order": 0,
        "group": "f2d3fc6914dff4ab",
        "width": 0,
        "height": 0,
        "label": "end xBG6",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008015",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 850,
        "y": 460,
        "wires": []
    }
]