data/data_8/.flows.json.backup
[
    {
        "id": "284a59b7635934a2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f6e85c769b90ec0",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://172.21.1.1:4840",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "efbf6c188bdc9897",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d57e0939235cfab0",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fde42db4aef67b11",
        "type": "ui_group",
        "name": "Default",
        "tab": "efbf6c188bdc9897",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b26177202d874a0",
        "type": "inject",
        "z": "284a59b7635934a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "6b5a8489043cc1b5",
                "f9d42934912c240b"
            ]
        ]
    },
    {
        "id": "6b5a8489043cc1b5",
        "type": "OpcUa-Item",
        "z": "284a59b7635934a2",
        "item": "ns=3;s=\"xBG5\"",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "911971d6ee95777c"
            ]
        ]
    },
    {
        "id": "911971d6ee95777c",
        "type": "OpcUa-Client",
        "z": "284a59b7635934a2",
        "endpoint": "7f6e85c769b90ec0",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "93bd00da3c3b7265",
                "a535a819cf085d1c"
            ]
        ]
    },
    {
        "id": "93bd00da3c3b7265",
        "type": "debug",
        "z": "284a59b7635934a2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "a535a819cf085d1c",
        "type": "ui_led",
        "z": "284a59b7635934a2",
        "order": 0,
        "group": "fde42db4aef67b11",
        "width": 0,
        "height": 0,
        "label": "XBG5",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "f9d42934912c240b",
        "type": "OpcUa-Item",
        "z": "284a59b7635934a2",
        "item": "ns=3;s=\"xBG6\"",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "1ec17be2d2ae2df6"
            ]
        ]
    },
    {
        "id": "1ec17be2d2ae2df6",
        "type": "OpcUa-Client",
        "z": "284a59b7635934a2",
        "endpoint": "7f6e85c769b90ec0",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 560,
        "y": 340,
        "wires": [
            [
                "0cac5d77b7513d18",
                "ff8af57b22512c64"
            ]
        ]
    },
    {
        "id": "0cac5d77b7513d18",
        "type": "debug",
        "z": "284a59b7635934a2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "ff8af57b22512c64",
        "type": "ui_led",
        "z": "284a59b7635934a2",
        "order": 0,
        "group": "fde42db4aef67b11",
        "width": 0,
        "height": 0,
        "label": "XBG6",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 810,
        "y": 420,
        "wires": []
    }
]